{% extends 'layout/layout.html' %} 
{% load static %}
{% load course_utils %}

{% block link %}
    <link rel="stylesheet" href="{% static 'course-list.css' %}"> 
{% endblock link %}

{% block main %}
<div class="container-fluid px-5">
    <div class="row mt-2">
        <div class="col-12 text-center"><h1>Course List</h1></div>
    </div>
    <div class="row">
        <div class="col-4 p-5">
            <a class="btn btn-primary mb-3" href="{% url 'course-list' %}">All Courses</a>
            <form action="{{request.get_path}}" method="get" class="mb-4">
                {{ course_search_form.non_field_errors }}
                <div class="input-group">
                    <input type="hidden" name="filter_type" value="search">
                    {{course_search_form.title.errors}}
                    {{course_search_form.title}}
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <form class="mb-3" action="{{request.get_path}}" method="get">
                {{ course_price_form.non_field_errors }}
                <div class="input-group">
                    <input type="hidden" name="filter_type" value="price">
                    {{course_price_form.min_value.errors}}
                    {{course_price_form.min_value}}
                    {{course_price_form.max_value.errors}}
                    {{course_price_form.max_value}}
                    <button type="submit" class="btn btn-primary">Find</button>
                </div>
            </form>
            <div>
                <div class="font-weight-bold h3">Tags</div>
                <ul>
                    {% for tag in tags %}
                        <li><a href="{% url 'course-list' %}?filter_type=tag&tag_id={{tag.id}}">{{tag.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-8 p-5">
            <div class="row">
                {% for course in courses %}
                    <div class="col-4">
                        <div class="card" style="width: 18rem">
                            <img src="{{course.image.url}}" class="card-img-top course-image" />
                            <div class="card-body">
                                <h5 class="card-title">{{course.title}}</h5>
                                <p class="card-text">{{course.description|truncatechars:100}}</p>
                                <div class="mb-2">
                                    <span class="yellow-stars">
                                        {% for i in course.rate|create_range %}
                                            <i class="fa-solid fa-star"></i>
                                        {% endfor %}
                                    </span>
                                    <span class="gray-stars">
                                        {% for i in course.rate|create_range:5 %}
                                            <i class="fa-solid fa-star"></i>
                                        {% endfor %}
                                    </span>
                                </div>
                                <a href="{% url 'course-detail' pk=course.id %}" class="btn btn-primary">Go Course</a>
                                <a href="#" class="btn btn-success">Buy {{course.price}}$</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}
