{% extends 'layout/layout.html' %}

{% block main %}
    <h1>Create Lesson</h1>
    <ul>
        {% for lesson in lessons %}
            <li class="mt-2"><a href="{% url 'lesson-detail' pk=lesson.pk %}" target="_blank">{{lesson.title}}</a></li>
            <a href="{% url 'delete-lesson' pk=lesson.pk %}">Delete</a>
            <a href="{% url 'update-lesson' pk=lesson.pk %}">Update</a>
            <hr>
        {% endfor %}
    </ul>
    <form action="{{request.get_full_path}}" method="post">
        {% csrf_token %}
        {{form.as_div}}
        <input type="submit">
    </form>
{% endblock main %}

